<!DOCTYPE html>

<html>  
    <head>
        <title> MeadowLark Travel </title>
    </head>

    <body> 
        <header> <img src="/img/ligadoit.PNG" alt="Meadowlark Travel Logo"> </header>
        {{{body}}}
    </body>

</html>