{{#section 'head'}}
    <meta name="robots" content="noindex">

{{/section}}

<h1> test page </h1>
<p> testing jquery stuff</p>

<h2> {{cookiename}}</h2>
{{#section 'jquery'}}
    <script>

        $('document').ready(function(){
            $('h1').html('jquery works');
        });
    </script>

    {{/section}}
<p></p> 